<h1><%= @place["name"] %></h1>

<ul>
  <% for entry in @place.entries %>
    <li>
      <%= entry["title"] %> <br>
      <%= entry["visited"] %> <br>
      <%= entry["description"] %>
    </li>
  <% end %>
</ul>

<p>
  <a href="/places/<%= @place.id %>/entries/new">New Post</a>
</p>

<p>
  <a href="/places/">Return to Places I've Been</a>
</p>